# Ignore data files
*.csv
*.CSV
*.tsv
*.TSV
*.xls
*.XLS
*.xlsx
*.XLSX

# Ignore virtual environments
.venv/
venv/
env/
.env/
INSTRUCTION.md
*.pdf
README2.md
Parkinsons_Classification_Literature_Review.md

__pycache__/
*/__pycache__/
